body{
}


#root {
  color: green;
  max-width:99% ;
}

.episodeInfo{  max-width: 32%;
  background-color: rgb(47, 56, 65);
  margin: 10px;
padding: 20px;
font-size: 15px;
text-align: center;
border: 50px;
border-color: aqua;

display: grid }

